In [1]:
import pandas as pd
import numpy as np

In [2]:
datadir="D:/Machine Learning/Poverty_comp/data/"
a_train=pd.read_csv(datadir+'A_indiv_train.csv', index_col=['id','iid'])
b_train=pd.read_csv(datadir+'B_indiv_train.csv', index_col=['id','iid'])
c_train=pd.read_csv(datadir+'C_indiv_train.csv', index_col=['id','iid'])

In [3]:
a_train.head()

          HeUgMnzF CaukPfUC MzEtIdUF gtnNTNam SWoXNmPc eXbOkwhI  OdXpbPGJ  \
id    iid
80389 1      XJsPz    mOlYV    UFoKR    SSvEP    onRNG    YXCNt       4.0
      2      XJsPz    mOlYV    axSTs    CXizI    onRNG    YXCNt       4.0
      3      TRFeI    mOlYV    axSTs    CXizI    NDnCs    YXCNt       4.0
      4      XJsPz    yAyAe    FRcdT    CXizI    onRNG    YXCNt       NaN
39883 1      XJsPz    mOlYV    UFoKR    HIvIU    onRNG    YXCNt       4.0

          XONDGWjH KsFoQcUV qYRZCuJD   ...   ukWqmeSS qqVibbSA MgCoFhXK  \
id    iid                              ...
80389 1      oArAw    kpkiH    fohru   ...        181    QQdHS    uEstx
      2      ccbZA    HgfUG    fohru   ...        141    QQdHS    uEstx
      3      fOUHD    HgfUG    oEref   ...         41    QQdHS    gCSRj
      4      fOUHD    HgfUG    fohru   ...         16    QQdHS    uEstx
39883 1      oArAw    kpkiH    fohru   ...        381    QQdHS    uEstx

          rFpoTXAq RXcLsVAQ rQWIpTiG XizJGmbu xqUooaNJ   poor country
id    iid
80389 1      Hikoa    zQvdC    xUYIC    juMSt    dSJoN   True       A
      2      Hikoa    zQvdC    xUYIC    juMSt    JTCKs   True       A
      3      Hikoa    zQvdC    rkLqZ    juMSt    JTCKs   True       A
      4      Hikoa    zQvdC    jVHyH    GtHel    JTCKs   True       A
39883 1      Hikoa    zQvdC    xUYIC    juMSt    UaIsy  False       A

[5 rows x 42 columns]

In [4]:
# Standardize features
def standardize(df, numeric_only=True):
    numeric = df.select_dtypes(include=['int64', 'float64'])
    
    # subtracy mean and divide by std
    #df[numeric.columns] = (numeric - numeric.mean()) / numeric.std()
    
    return df
    

def pre_process_data(df, enforce_cols=None):
    print("Input shape:\t{}".format(df.shape))
        

    df = standardize(df)
    print("After standardization {}".format(df.shape))
        
    # create dummy variables for categoricals
    df = pd.get_dummies(df)
    print("After converting categoricals:\t{}".format(df.shape))
    

    # match test set and training set columns
    if enforce_cols is not None:
        to_drop = np.setdiff1d(df.columns, enforce_cols)
        to_add = np.setdiff1d(enforce_cols, df.columns)

        df.drop(to_drop, axis=1, inplace=True)
        df = df.assign(**{c: 0 for c in to_add})
    
    df.fillna(0, inplace=True)
    
    return df

In [5]:
print("Country A")
aX_train = pre_process_data(a_train)
#ay_train = np.ravel(a_train.poor)

print("\nCountry B")
bX_train = pre_process_data(b_train)
#by_train = np.ravel(b_train.poor)

print("\nCountry C")
cX_train = pre_process_data(c_train)
#cy_train = np.ravel(c_train.poor)

Country A
Input shape:	(37560, 42)
After standardization (37560, 42)
After converting categoricals:	(37560, 275)

Country B
Input shape:	(20252, 225)
After standardization (20252, 225)
After converting categoricals:	(20252, 1642)

Country C
Input shape:	(29913, 42)
After standardization (29913, 42)
After converting categoricals:	(29913, 301)

In [6]:
# load test data
a_test = pd.read_csv(datadir+'A_indiv_test.csv', index_col=['id','iid'])
b_test = pd.read_csv(datadir+'B_indiv_test.csv', index_col=['id','iid'])
c_test = pd.read_csv(datadir+'C_indiv_test.csv', index_col=['id','iid'])
# process the test data
a_test = pre_process_data(a_test, enforce_cols=aX_train.columns)
b_test = pre_process_data(b_test, enforce_cols=bX_train.columns)
c_test = pre_process_data(c_test, enforce_cols=cX_train.columns)

Input shape:	(18535, 41)
After standardization (18535, 41)
After converting categoricals:	(18535, 273)
Input shape:	(10066, 224)
After standardization (10066, 224)
After converting categoricals:	(10066, 1534)
Input shape:	(14701, 41)
After standardization (14701, 41)
After converting categoricals:	(14701, 301)

In [7]:
aX_train.head(20)

           OdXpbPGJ  ukWqmeSS   poor  HeUgMnzF_BNCcM  HeUgMnzF_HUpWg  \
id    iid
80389 1         4.0       181   True               0               0
      2         4.0       141   True               0               0
      3         4.0        41   True               0               0
      4         0.0        16   True               0               0
39883 1         4.0       381  False               0               0
      2         4.0        71  False               0               0
      3         4.0        46  False               0               0
18327 1         4.0       231   True               0               0
      2         4.0       211   True               0               0
      3         4.0       101   True               0               0
      4         4.0        96   True               0               0
      5         4.0        81   True               0               0
      6         4.0        61   True               0               0
      7         4.0        46   True               0               0
      8         4.0        31   True               0               0
88416 1         4.0       196   True               0               0
      2         4.0       141   True               0               0
      3         4.0        96   True               0               0
      4         4.0        76   True               0               0
      5         0.0         1   True               0               0

           HeUgMnzF_JMXQx  HeUgMnzF_PAVsH  HeUgMnzF_SJPkb  HeUgMnzF_SlRmt  \
id    iid
80389 1                 0               0               0               0
      2                 0               0               0               0
      3                 0               0               0               0
      4                 0               0               0               0
39883 1                 0               0               0               0
      2                 0               0               0               0
      3                 0               0               0               1
18327 1                 0               0               0               0
      2                 0               0               0               0
      3                 0               0               0               0
      4                 0               0               0               0
      5                 0               0               0               0
      6                 0               0               0               0
      7                 0               0               0               0
      8                 0               0               0               0
88416 1                 0               0               0               0
      2                 0               0               0               0
      3                 0               0               0               0
      4                 0               0               0               0
      5                 0               0               0               0

           HeUgMnzF_TRFeI    ...      rQWIpTiG_xUYIC  XizJGmbu_FUUXv  \
id    iid                    ...
80389 1                 0    ...                   1               0
      2                 0    ...                   1               0
      3                 1    ...                   0               0
      4                 0    ...                   0               0
39883 1                 0    ...                   1               0
      2                 0    ...                   0               0
      3                 0    ...                   1               0
18327 1                 0    ...                   1               0
      2                 0    ...                   1               1
      3                 0    ...                   1               0
      4                 0    ...                   1               0
      5                 0    ...                   0               0
      6                 0    ...                   0               0
      7                 0    ...                   0               0
      8                 0    ...                   0               1
88416 1                 0    ...                   1               0
      2                 0    ...                   0               1
      3                 0    ...                   1               0
      4                 0    ...                   1               0
      5                 0    ...                   0               0

           XizJGmbu_GtHel  XizJGmbu_juMSt  xqUooaNJ_ALcKg  xqUooaNJ_JTCKs  \
id    iid
80389 1                 0               1               0               0
      2                 0               1               0               1
      3                 0               1               0               1
      4                 1               0               0               1
39883 1                 0               1               0               0
      2                 0               1               0               1
      3                 0               1               0               1
18327 1                 0               1               0               0
      2                 0               0               0               1
      3                 0               1               0               0
      4                 0               1               0               0
      5                 0               1               0               0
      6                 0               1               0               1
      7                 0               1               0               1
      8                 0               0               0               0
88416 1                 0               1               0               0
      2                 0               0               0               1
      3                 0               1               0               1
      4                 0               1               0               1
      5                 1               0               0               1

           xqUooaNJ_UaIsy  xqUooaNJ_dSJoN  xqUooaNJ_vhhVz  country_A
id    iid
80389 1                 0               1               0          1
      2                 0               0               0          1
      3                 0               0               0          1
      4                 0               0               0          1
39883 1                 1               0               0          1
      2                 0               0               0          1
      3                 0               0               0          1
18327 1                 0               1               0          1
      2                 0               0               0          1
      3                 0               1               0          1
      4                 0               1               0          1
      5                 0               1               0          1
      6                 0               0               0          1
      7                 0               0               0          1
      8                 0               1               0          1
88416 1                 1               0               0          1
      2                 0               0               0          1
      3                 0               0               0          1
      4                 0               0               0          1
      5                 0               0               0          1

[20 rows x 275 columns]

In [8]:
def aggregate(data, var):
    grouped=data.groupby(var).sum()
    return grouped

In [9]:
datasets=[aX_train, bX_train, cX_train,a_test,b_test,c_test]

aX_train_i= aggregate(aX_train, 'id')
bX_train_i= aggregate(bX_train, 'id')
cX_train_i= aggregate(cX_train, 'id')
a_test_i= aggregate(a_test, 'id')
b_test_i= aggregate(b_test, 'id')
c_test_i= aggregate(c_test, 'id')

In [10]:
aX_train.head()

           OdXpbPGJ  ukWqmeSS   poor  HeUgMnzF_BNCcM  HeUgMnzF_HUpWg  \
id    iid
80389 1         4.0       181   True               0               0
      2         4.0       141   True               0               0
      3         4.0        41   True               0               0
      4         0.0        16   True               0               0
39883 1         4.0       381  False               0               0

           HeUgMnzF_JMXQx  HeUgMnzF_PAVsH  HeUgMnzF_SJPkb  HeUgMnzF_SlRmt  \
id    iid
80389 1                 0               0               0               0
      2                 0               0               0               0
      3                 0               0               0               0
      4                 0               0               0               0
39883 1                 0               0               0               0

           HeUgMnzF_TRFeI    ...      rQWIpTiG_xUYIC  XizJGmbu_FUUXv  \
id    iid                    ...
80389 1                 0    ...                   1               0
      2                 0    ...                   1               0
      3                 1    ...                   0               0
      4                 0    ...                   0               0
39883 1                 0    ...                   1               0

           XizJGmbu_GtHel  XizJGmbu_juMSt  xqUooaNJ_ALcKg  xqUooaNJ_JTCKs  \
id    iid
80389 1                 0               1               0               0
      2                 0               1               0               1
      3                 0               1               0               1
      4                 1               0               0               1
39883 1                 0               1               0               0

           xqUooaNJ_UaIsy  xqUooaNJ_dSJoN  xqUooaNJ_vhhVz  country_A
id    iid
80389 1                 0               1               0          1
      2                 0               0               0          1
      3                 0               0               0          1
      4                 0               0               0          1
39883 1                 1               0               0          1

[5 rows x 275 columns]

## Merge

In [11]:
a_train=pd.read_csv(datadir+'A_hhold_train.csv', index_col='id')
b_train=pd.read_csv(datadir+'B_hhold_train.csv', index_col='id')
c_train=pd.read_csv(datadir+'C_hhold_train.csv', index_col='id')

In [12]:
print("Country A")
aX_train = pre_process_data(a_train)
#ay_train = np.ravel(a_train.poor)

print("\nCountry B")
bX_train = pre_process_data(b_train)
#by_train = np.ravel(b_train.poor)

print("\nCountry C")
cX_train = pre_process_data(c_train)
#cy_train = np.ravel(c_train.poor)

Country A
Input shape:	(8203, 345)
After standardization (8203, 345)
After converting categoricals:	(8203, 860)

Country B
Input shape:	(3255, 442)
After standardization (3255, 442)
After converting categoricals:	(3255, 1433)

Country C
Input shape:	(6469, 164)
After standardization (6469, 164)
After converting categoricals:	(6469, 796)

In [13]:
# load test data
a_test = pd.read_csv(datadir+'A_hhold_test.csv', index_col='id')
b_test = pd.read_csv(datadir+'B_hhold_test.csv', index_col='id')
c_test = pd.read_csv(datadir+'C_hhold_test.csv', index_col='id')
# process the test data
a_test = pre_process_data(a_test, enforce_cols=aX_train.columns)
b_test = pre_process_data(b_test, enforce_cols=bX_train.columns)
c_test = pre_process_data(c_test, enforce_cols=cX_train.columns)

Input shape:	(4041, 344)
After standardization (4041, 344)
After converting categoricals:	(4041, 851)
Input shape:	(1604, 441)
After standardization (1604, 441)
After converting categoricals:	(1604, 1419)
Input shape:	(3187, 163)
After standardization (3187, 163)
After converting categoricals:	(3187, 773)

In [14]:
#result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])

aX_train =pd.concat([aX_train, aX_train_i], axis=1, join_axes=[aX_train.index])
bX_train =pd.concat([bX_train, bX_train_i], axis=1, join_axes=[bX_train.index])
cX_train =pd.concat([cX_train, cX_train_i], axis=1, join_axes=[cX_train.index])

a_test=pd.concat([a_test, a_test_i], axis=1, join_axes=[a_test.index])
b_test=pd.concat([b_test, b_test_i], axis=1, join_axes=[b_test.index])
c_test=pd.concat([c_test, c_test_i], axis=1, join_axes=[c_test.index])

#Save files
datadir="D:/Machine Learning/Poverty_comp/data/"

aX_train.to_csv(datadir+'aX_train_p.csv')
bX_train.to_csv(datadir+'bX_train_p.csv')
cX_train.to_csv(datadir+'cX_train_p.csv')

a_test.to_csv(datadir+'a_test_p.csv')
b_test.to_csv(datadir+'b_test_p.csv')
c_test.to_csv(datadir+'c_test_p.csv')

In [15]:
a_test.head()

,nEsgxvAq,OMtioXZZ,YFMZwKrU,TiwRslOh,wBXbHZmp_DkQlr,wBXbHZmp_JhtDR,SlDKnCuu_GUusz,SlDKnCuu_alLXR,KAJOWiiw_BIZns,KAJOWiiw_TuovO,...,xqUooaNJ_JTCKs,xqUooaNJ_UaIsy,xqUooaNJ_dSJoN,xqUooaNJ_vhhVz,country_A,HeUgMnzF_JMXQx,HeUgMnzF_jnwBm,NAxEQZVi_BgmGE,poor,qqVibbSA_sMBUT
id,,,,,,,,,,,,,,,,,,,,,
418,-4.0,12,-3.0,-9,0,1,1,0,0,1,...,7,0,0,0,7,0,0,0,0,0
41249,-4.0,30,-2.0,-1,0,1,0,1,1,0,...,3,0,0,0,3,0,0,0,0,0
16205,-10.0,21,-2.0,-11,0,1,0,1,1,0,...,7,1,0,0,8,0,0,0,0,0
97501,-4.0,30,-2.0,3,0,1,0,1,1,0,...,1,0,0,0,1,0,0,0,0,0
67756,-16.0,30,-3.0,-7,0,1,1,0,1,0,...,6,0,0,0,6,0,0,0,0,0